.mhain{
  width:430px;
  height:129px;
  margin-left:50px;
}
#dis>li>ul{
  z-index: 1000;
}
.w-250{
  width:250px;
}
.mt--15{
  margin-top:-15px;
}
.h-129{
  height:129px;
}
.w-782-60{
  width:782px;
  height:60px;
  margin-bottom:10px;
}
.w-340-60{
  width:340px;
  height:60px;
  padding: 0 12px 10px 0;
  display: inline-block;
}
.w-772-24{
  width:772px;
  height:24px;
  display: inline-block;
}
.w-992-282{
  width:992px;
  height:282px;
  padding:30px;
}
#header1>div:nth-child(1){
  height:129px;
  background-color: #C70A11
}
.hmain>form{
  margin-top:46px;
}
.hmain>form>input:nth-child(1){
  width:346px;
  height:36px;
}
.hmain>form>input:nth-child(2){
  width:80px;
  height:40px;
  border:2px solid white;
  background-color: #C70A11;
  color: white;
  margin-left:-6px;
}
.hmain+div{
  width:266px;
  right:0px;
}
.hmain+div>div{
  margin-top:50px;
}
.hmain+div>div>a{
  color:white;
  font-size:12px;
  margin-left:10px;
}
#header1>div:nth-child(2){
  background-color: #FFFFFF;
  border-bottom:1px solid #D9C9AD;
}
#header1>div:nth-child(2)>div:nth-child(1){
  height:76px;
}
#header1>div:nth-child(2)>div:nth-child(1)>ul{
  width:990px;
  height:76px;
}
.w-120-76{
  width:120px;
  height:76px;
  text-align: center;
  line-height: 76px;
  display: inline-block;
  color: black;
  font-size:18px;
}
.w-84-76{
  width:84px;
  height:76px;
  text-align: center;
  display: inline-block;
  line-height: 76px;
  color: black;
  font-size:18px;
}
#dis>li>ul{
  display: none;
  position: absolute;
  top:76px;
  left:0px;
  background: #fafafa;
}
#dis>li:hover{
  background-color: #fafafa;
  /* border-bottom:2px solid #C70A11; */
}
#dis>li:hover ul{
  display: block;
}

ul>li>ul>li>span:nth-child(1){
  font-size:18px;
  color:red;
}
ul>li>ul>li>span:nth-child(3){
  font-size: 14px;
  color:#ccc;
}